<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path do %>
    <%= image_tag "logo-popcorn-flaticon.png", alt: "logo-flaticon-freepik", class: "logo", height: "50" %>
  <% end %>
</div>
