// LISTS INDEX CARD
.card-lists {
  display: flex;
  align-content: center;
  overflow-x: scroll;
  height: 24vh;
  padding-top: 8px;
}

.card-list {
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 8px;
  margin: 8px;
}

.card-new-list {
  background-color: #f4f4f4;
  color: white;
  font-size: 54px;
  font-weight: bold;
  width: 200px;
}

// LIST SHOW AND MOVIE CARD

.movies-card {
  display: flex;
  flex-wrap: wrap;
}

.movie-card {
  padding: 8px;
}

.header-list-card {
  display: flex;
  justify-content: space-between;
}

.header-title {
  display: flex;
}
